
<div class="container">

  <div class="row">
    <div class=" col-md-5" *ngFor="let company of companies">
      <div class="companies card mb-4 box-shadow">
        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src={{company.photoString}}>
        <div class="card-body">
          <h4 class="card-text">{{company.name | shortString: 50}}</h4><hr>
          <label class="font-weight-bold"style=" font-size:12">Açıklama </label> <p> {{company.explanation | shortString: 40}}</p><hr>
          <label class="font-weight-bold" style=" font-size:12">Adres </label>   <p>{{company.address}}</p><hr>
          <label class="font-weight-bold" style=" font-size:12">Vergi Numarası </label> <p>{{company.taxNumber}}</p><hr>
          <label class="font-weight-bold" style=" font-size:12">Email </label>   <p>{{company.email}}</p><hr>
          <label class="font-weight-bold" style=" font-size:12">Telefon </label> <p>{{company.phoneNumber}}</p><hr>
          <div class="btn-group d-flex justify-content-between align-items-center">
            <div class="btn-group" >
              <a class="btn mat-raised-button text-white"   href="/company/edit_company/{{company.id}}">Düzenle</a>
              <a class="btn mat-raised-button text-white" (click)="deleteCompany(company.id)">Sil</a>
            </div>
            <div class="btn-group" >
              <a class="btn mat-raised-button text-white"  href="/company/{{company.id}}">İşler</a>
              <a class="btn mat-raised-button text-white"  href="/company/{{company.id}}/add_job">İş Ekle</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
