.container {
  padding-right: 2%;
  padding-bottom: 2%;
}

.container .img {
  text-align: center;
}

.container .img img {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.container .details {
  border-left: 3px solid #ded4da;
}

.container .details p {
  font-size: 15px;
  font-weight: bold;
}
