.row {
  padding-right: 2%;
  padding-bottom: 2%;
}

.img {
  text-align: center;
}

.img img {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.details {
  border-left: 3px solid #ded4da;
}

.details p {
  font-size: 15px;
  font-weight: bold;
}
