<div class="d-flex justify-content-center">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="form-signin text-center mt-5"
  >
    <div>
      <h1 class="h3 mb-3 font-weight-normal">Giriş Yap</h1>
    </div>
    <div class="mb-2">
      <label for="email" class="sr-only">Email</label>
      <input
        type="text"
        formControlName="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Email"
        required
        autofocus
      />
      <div
        class="alert alert-danger"
        *ngIf="
          loginForm.get('email')?.hasError('required') &&
          loginForm.get('email')?.dirty
        "
      >
        Email adresinizi girmediniz!
      </div>
    </div>
    <div class="mb-2">
      <label for="inputPassword" class="sr-only">Şifre</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Şifre"
        required
      />
      <div
        class="alert alert-danger"
        *ngIf="
          loginForm.get('password')?.hasError('required') &&
          loginForm.get('password')?.dirty
        "
      >
        Şifrenizi girmediniz!
      </div>
    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Giriş
    </button>
  </form>
</div>
