.main {
  // margin-left: 160px;
  /* Same as the width of the sidenav */
  margin-bottom:5% ;
}



.footer {
  margin-left: 0%;

  bottom: 0px;
  margin-bottom:0!important;
  padding-bottom: 0!important;

}

.sidebar {
  margin-top: 5%;
  /* Same as the width of the sidenav */

}
