.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.footer {
  margin-left: 9%;
  /* Same as the width of the sidenav */
  margin-bottom: 0%;

}

.sidebar {
  margin-top: 5%;
  /* Same as the width of the sidenav */

}
