<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer" >

  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">

  <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-3" style="background-color: #6351ce">
      <!-- Left -->
      <!-- <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div> -->
      <!-- Left -->

      <!-- Right -->
      <!-- <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook"></i>

        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div> -->
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h3 class="text-uppercase fw-bold">Social World</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"  />
            <p>
              Kullanıcıların İş ve Sosyal Sorumluluk Projelerinde Yer Alabileceği Ve Oluşturabileceği Bir Platform.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold">Products</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"  />
            <p>
              <a href="/social_responsibility/add_social_responsibility" class="text-white">Sosyal Sorumluluk Oluştur</a>
            </p>
            <p>
              <a href="/job" class="text-white">İş İlanları</a>
            </p>
            <p>
              <a href="/social_responsibility" class="text-white">Sosyal Sorumluluk Projeleri</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold">Useful links</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"  />
            <p>
              <a href="#!" class="text-white" *ngIf="isLoggedIn()" routerLink="user_profile">Hesabınız</a>
            </p>
            <p>
              <a href="#!" class="text-white" *ngIf="!isLoggedIn()" routerLink="register">Kayıt Olun</a>
            </p>
            <p><a href="#!" class="text-white">Yardım</a></p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h3 class="text-uppercase fw-bold">Contact</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"  />
            <p><i class="fas fa-home mr-3"></i> Izmir, TR</p>
            <p><a class="text-white" href="mailto: onurgoz98@gmail.com" >onurgoz98@gmail.com</a></p>
            <p><i class="fas fa-phone mr-3"></i> + 90 538 651 6546</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022
      <a class="text-white" href="https://www.onurgoz.com/">onurgoz.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->

