.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #1c2331;
  overflow-x: hidden;
  padding-top: 5%;
}

.sidenav a {
  padding: 20% 5% 10% 5%;
  text-decoration: none;
  font-size: 20px;
  color: #050404;
  display: block;
}

.sidenav a:hover {
  color: #888888;
}

@media screen and (max-height: 10%) {
  .sidenav {
    padding-top: 10%;
  }

  .sidenav a {
    font-size: 18px;
  }
}
