
<div class="col-md-12">
  <div style="text-align:center;">
    <h2 style="font-weight: bold;">Başvurular</h2> {{jobId}}
  </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Başvuru Tarihi</th>
        <th>İsim</th>
        <th>Soyisim</th>
        <th>Email</th>
        <th>Telefon Numarası</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let applicant of applicantList | applicantFilterByJobId:jobId">
        <td>{{ applicant.id }}</td>
        <td>{{ applicant.applicationDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ applicant.firstName}}</td>
        <td>{{ applicant.lastName}}</td>
        <td>{{ applicant.email}}</td>
        <td>{{applicant.phoneNumber}}</td>
      </tr>
    </tbody>
  </table>
</div>
