/* You can add global styles to this file, and also import other style files */
hr {
  border: 5x;
  border-color: #6351ce;
}

.btn-group {
  width: 100%;
}

.mat-raised-button {
  border-radius: 5px;
  background-color: #4161f0 !important;
  width: auto;
  height: auto;
  margin-right: 5%;
}
