<nav class="nav1 navbar navbar-expand-lg" style="background-color: #7c4dff;">
  <a class="navbar-brand text-white" routerLink="job"
    >SocialWorld <span class="sr-only">(current)</span></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink=""
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <div class="navbar">
      <div *ngIf="isLoggedIn()" class="nav-link text-white">{{loogedUser()}}</div>
      <a *ngIf="!isLoggedIn()" class="nav-link text-white" routerLink="register">Register</a>
      <a *ngIf="!isLoggedIn()" class="nav-link text-white" routerLink="login">Login</a>
      <a *ngIf="isLoggedIn()" class="nav-link text-white" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
